name: lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  black-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Check formatting with black
        run: |
          pip install black
          black . --check
